<div [ngStyle]="{'display':displaySuccess}" class="notif" >
  <div class="notification is-success">
    <button class="delete" (click)="toggleSuccess()"></button>
    Insert maps Success
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child">
    </article>
  </div>
  <div class="tile is-parent">
  </div>
  <div class="tile is-parent">
  </div>
  <div class="tile is-parent">
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-9">
    <div class="tile">
      <div class="tile is-parent is-vertical">
      </div>
      <div class="tile is-parent is-11">
        <article class="tile is-child box">
            <agm-map [latitude]="-6.2841462" [longitude]="106.7264780" (mapClick)="create($event)" >
              <agm-marker *ngFor="let m of todos" [latitude]="m.latitude" [longitude]="m.longitude" [markerDraggable]="true" (markerClick)="toggle($event,1,m.locationName, m.longitude, m.latitude, m.userID)"></agm-marker>
            </agm-map>
            <div>
              &nbsp;
            </div>
            <div class="field is-grouped">
            <p class="control">
              <a class="button is-primary" (click)="toggleInsert();">
                Add Marker
              </a>
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>


<div [ngClass]="displayModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Location</p>
      <button class="delete" aria-label="close" (click)="toggle()"></button>
    </header>
    <section class="modal-card-body">
      User: <input class="input" type="text" placeholder="location" [(ngModel)]="userIDTemp"><br>
      Location : <input class="input" type="text" placeholder="location" [(ngModel)]="locationTemp"> <br>
      longitude: <input class="input" type="text" placeholder="location" [(ngModel)]="longitudeTemp"> <br> 
      latitude:  <input class="input" type="text" placeholder="location" [(ngModel)]="latitudeTemp"> <br> 

    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="saveChange()">Save changes</button>
      <button class="button" (click)="toggle()">Cancel</button>
    </footer>
  </div>
</div>

<div [ngClass]="displayInsertModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Location</p>
      <button class="delete" aria-label="close" (click)="toggleInsert();"></button>
    </header>
    <section class="modal-card-body">
      User      : <input class="input" type="text" placeholder="User" [(ngModel)]="insertUser"> <br>
      Location  : <input class="input" type="text" placeholder="location" [(ngModel)]="insertLocation"> <br>
      Longitude : <input class="input" type="text" placeholder="longitude" [(ngModel)]="insertLongitude"> <br>
      Latitude  : <input class="input" type="text" placeholder="latitude" [(ngModel)]="insertLatitude"> <br>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="insertMaps()">Save Data</button>
      <button class="button" (click)="toggleInsert()">Cancel</button>
    </footer>
  </div>
</div>