
    .main-background{
        background-image:url(../../../assets/images/NotFound.png);
        opacity: 1.3;
        position: absolute;
        background-size: cover;                     
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
    }