<div [ngStyle]="{'display':displayNotif}" class="notif">
  <div class="{{ classNotif }}">
    <button class="delete" (click)="toggle()"></button> {{ messageNotif }}
  </div>
</div>


<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child">
    </article>
  </div>
  <div class="tile is-parent">
  </div>
  <div class="tile is-parent">
  </div>
  <div class="tile is-parent">
  </div>
</div>
<div>
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-9">
      <div class="tile">
        <div class="tile is-parent is-vertical">
        </div>
        <div class="tile is-parent is-11">

          <article class="tile is-child box">
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label is-small">Upload File and Create Folder</label>
              </div>
              <div class="field-body">
                <div class="field">
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label is-small">Nama Folder</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="select is-fullwidth" style="width: 80% !important">
                    <select #range (change)="choosefolder(range.value)">
                       <option >Select dropdown</option>
                         <option *ngFor="let a of itemFolder; let i = index" value = "{{a.name}}">{{ a.name}}</option>
                          </select>
                  </div>
                  <span class="icon" (click)=" displayInput()">
                     <i class="fa fa-plus-square icon-add"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                
              </div>
              <div class="field-body" [ngStyle]="{'display': displayInputFolder}">
                <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" type="text" placeholder="Folder Name" [(ngModel)]="name_container">
                    <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                    <span class="icon is-small is-right">
                     <i class="fa fa-check"></i>
                  </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">File</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="file has-name is-fullwidth">
                    <label class="file-label">
                  <input class="file-input" type="file" name="file" (change)="addFile($event)">
                  <span class="file-cta">
                  <span class="file-icon">
                     <i class="fa fa-upload"></i>
                   </span>
                  <span class="file-label">
                     Choose a file…
                   </span>
                 </span>
                  <span class="file-name">
                    {{ titleOriginalFile }}
                   </span>
                   </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <button class="button is-primary" (click)="createAndUpload()">
                    Upload
                  </button>
                  </div>

                </div>
              </div>
            </div>
          </article>

        </div>
      </div>
    </div>
  </div>
</div>