<div class="columns is-mobile">
  <div class="column is-half-mobile">
    <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
      <div class="field-label is-normal">
        <label class="label is-small">Biodata Profile</label>
      </div>
      <label class="label is-small">Full Name</label>
      <div class="field-label is-normal">
        <input class="input" type="text" placeholder="Full Name" [(ngModel)]="fullName">
      </div>

      <label class="label is-small">Address</label>
      <div class="field-label is-normal">
        <input class="input" type="text" placeholder="Address" [(ngModel)]="address">
      </div>

      <label class="label is-small">Email</label>
      <div class="field-label is-normal">
        <input class="input" type="text" placeholder="Email" [(ngModel)]="email">
      </div>

      <label class="label is-small">Place Of Birthday</label>
      <div class="field-label is-normal">
        <input class="input" type="text" placeholder="Place Of Birthday" [(ngModel)]="placeBirth">
      </div>

      <label class="label is-small">Date Of Birthday</label>
      <div class="field-label is-normal">
        <input class="input" type="date" placeholder="Date Of Birthday" [(ngModel)]="dateBirth">
      </div>

      <label class="label is-small">No.Telephone</label>
      <div class="field-label is-normal">
        <input class="input" type="text" placeholder="No.Telephone" [(ngModel)]="noPhone">
      </div>

      <label class="label is-small">Photo Profile</label>
      <div class="file has-name is-fullwidth">
        <label class="file-label">
            <input class="file-input" type="file" name="file[]" (change)="uploadProses($event)">
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
            <span class="file-name">
                {{ defaultFileTitle }}
            </span>
          </label>
      </div>

      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-primary" (click)="createData()">
               Upload
              </button>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>