<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child">
    </article>
  </div>
  <div class="tile is-parent">
  </div>
  <div class="tile is-parent">
  </div>
  <div class="tile is-parent">
  </div>
</div>

<div [ngStyle]="{'display': hiddenSuccess}">
  <div class="notification is-success" style="width: 86% !important;">
    <button class="delete" (click)="closeAlert()"></button>Success Input Data.
  </div>
</div>

<div [ngStyle]="{'display': hiddenTable}">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-9">
      <div class="tile">
        <div class="tile is-parent is-vertical">
        </div>
        <div class="tile is-parent is-11">
          <article class="tile is-child box">

            <a class="button is-info is-outlined" (click)="modalAdd()">Add Data</a>

            <table class="table">
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Full Name</th>
                  <th>Email</th>
                  <th>Address</th>
                  <th>Place Of Birth</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let datas of Datauser" (click)="listSelect(datas)">
                  <th>
                    <figure class="image is-128x128">
                      <img src="{{loopbackPathDownload + datas.folder + '/download/' + datas.photoprofile}}">
                    </figure>

                  </th>
                  <td>{{datas.fullname}}</td>
                  <td>{{datas.email}}</td>
                  <td>{{datas.address}}</td>
                  <td>{{datas.placeofbirth}}</td>
                </tr>
              </tbody>
            </table>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>

<div [ngStyle]="{'display': hiddenData}">
  <div class="notification is-primary" style="width: 86% !important;">
    Sorry no data. <a class="button is-info is-outlined" style="margin-left: 60% !important;" (click)="modalAdd()">Add Data</a>
  </div>
</div>


<div [ngClass]="displayModalEdit">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edit Data</p>
      <button class="delete" aria-label="close" (click)="closeEdit()"></button>
    </header>
    <section class="modal-card-body">
      <label class="label is-small">Full Name</label>
      <div class="field-label is-normal">
        <input class="input" type="text" placeholder="Full Name" [(ngModel)]="fullNameEdit">
      </div>

      <label class="label is-small">Address</label>
      <div class="field-label is-normal">
        <input class="input" type="text" placeholder="Address" [(ngModel)]="addressEdit">
      </div>

      <label class="label is-small">Place Of Birth</label>
      <div class="field-label is-normal">
        <input class="input" type="text" placeholder="Place Of Birth" [(ngModel)]="placeBirthEdit">
      </div>

      <label class="label is-small">Email</label>
      <div class="field-label is-normal">
        <input class="input" type="text" placeholder="Email" [(ngModel)]="emailEdit">
      </div>

      <label class="label is-small">No.Telephone</label>
      <div class="field-label is-normal">
        <input class="input" type="text" placeholder="No.Telephone" [(ngModel)]="noPhoneEdit">
      </div>

      <label class="label is-small">Photo Profile</label>
      <div class="file has-name is-fullwidth">
        <label class="file-label">
          <input class="file-input" type="file" name="file[]" (change)="uploadProses($event)">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
          </span>
          <span class="file-name">
              {{ defaultFileTitle }}
          </span>
        </label>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="saveChange()">Save changes</button>
      <button class="button" (click)="closeEdit()">Cancel</button>
    </footer>
  </div>
</div>

<div [ngClass]="displayModalAdd">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add Data</p>
      <button class="delete" aria-label="close" (click)="closeAdd()"></button>
    </header>
    <section class="modal-card-body">
      <form #heroForm="ngForm">
        <div class="form-group">
          <label class="label is-small">Full Name</label>
          <input id="name" name="name" class="form-control" required minlength="4" [(ngModel)]="fullName" #name="ngModel" class="input"
            type="text" placeholder="Full Name">

          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

            <div *ngIf="name.errors.required">
              Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
              Name must be at least 4 characters long.
            </div>

          </div>

          <label class="label is-small">Email</label>
          <input id="mail" name="mail" class="form-control" required [(ngModel)]="email" #mail="ngModel" class="input" type="text"
            placeholder="Your Email">

          <div *ngIf="mail.invalid && (mail.dirty || mail.touched)" class="alert alert-danger">

            <div *ngIf="mail.errors.required">
              Email is required.
            </div>

          </div>

          <label class="label is-small">Address</label>
          <input id="addr" name="addr" class="form-control" required minlength="5" [(ngModel)]="address" #addr="ngModel" class="input"
            type="text" placeholder="Your Address">

          <div *ngIf="addr.invalid && (addr.dirty || addr.touched)" class="alert alert-danger">

            <div *ngIf="addr.errors.required">
              Address is required.
            </div>
            <div *ngIf="addr.errors.minlength">
              Address must be at least 5 characters long.
            </div>

          </div>

          <label class="label is-small">Place Of Birthday</label>
          <input id="place" name="place" class="form-control" required minlength="3" [(ngModel)]="placeBirth" #place="ngModel" class="input"
            type="text" placeholder="Place Of Birthday">

          <div *ngIf="place.invalid && (place.dirty || place.touched)" class="alert alert-danger">

            <div *ngIf="place.errors.required">
              Place Of Birthday is required.
            </div>
            <div *ngIf="place.errors.minlength">
              Place Of Birthday must be at least 3 characters long.
            </div>

          </div>

          <label class="label is-small">Date Of Birthday</label>
          <input id="date" name="date" class="form-control" required [(ngModel)]="dateBirth" #date="ngModel" class="input" type="date"
            placeholder="placeBirth">

          <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">

            <div *ngIf="date.errors.required">
              Date Of Birthday Of Birthday is required.
            </div>

          </div>

          <label class="label is-small">No.Telephone</label>
          <input id="phone" name="phone" class="form-control" required [(ngModel)]="noPhone" #phone="ngModel" class="input" type="text"
            placeholder="No.Telephone" pattern="^[0-9]+$">
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">

            <div *ngIf="phone.errors.required">
              No. Telephone is required.
            </div>

          </div>

          <label class="label is-small">Photo Profile</label>
          <div class="file has-name is-fullwidth">
            <label class="file-label">
                <input id="photo" name="file[]" class="file-input" required 
                (change)="uploadProses($event)" type="file">
    
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fa fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Choose a file…
                  </span>
                </span>
                <span class="file-name">
                    {{ defaultFileTitle }}
                </span>
              </label>
          </div>

          <div *ngIf="place.invalid && (place.dirty || place.touched)" class="alert alert-danger">

            <div *ngIf="place.errors.required">
              Place Of Birthday is required.
            </div>
            <div *ngIf="place.errors.minlength">
              Place Of Birthday must be at least 3 characters long.
            </div>

          </div>
        </div>
        <div class="modal-card-foot">
          <button type="submit" class="button is-success" [disabled]="heroForm.invalid" (click)="createData()">Submit</button>
          <button type="button" class="button is-danger" (click)="heroForm.resetForm({})">Reset</button>

          <div [ngStyle]="{'display': hiddenValid}">
            <div class="notification is-danger" style="width: 60% !important;">
              <button class="delete" (click)="closeValid()"></button>Foto must be attachment.
            </div>
          </div>

        </div>
      </form>

    </section>
  </div>
</div>