<div style="background-color:#33ccff;height:70px;">
     <img src="{{chat?.photo}}" class="profile-image">
       
</div>

<div>
    <ul>
        <li>
            <div class="chatBubble">
                <div class="chat-bubble left">
                    <p>Find Luke fast!!!!!!!!!!!</p>
                    <div class="message-detail">
                        <span style="font-weight:bold;">Darth Vader </span>,
                        <span>15:15:20</span>
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="chatBubble" style="margin-top:100px;" *ngFor="let chat of chats">
                <div class="chat-bubble right">
                   <p> Never</p>
                    <div class="message-detail">
                        <span style="font-weight:bold;">{{chat?.roomname}} </span>,
                        <span>15:17:30</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="footer">
    <input style="left:10px;width:80%;">
    <button class="button is-primary">Send</button>
</div>