

    .chatBubble{
         word-wrap: break-word;
         font-size: 11px;

    img.profile-pic.left {
        left: 10px;
    }

    img.profile-pic.right {
        right: 10px;
    }

    .message {
        font-size: medium;
        word-wrap: break-word;
        white-space: pre-wrap;
    }

    .message-detail {
        white-space: nowrap;
        font-size: 14px;
    }

    .chat-bubble {
        border-radius: 5px;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
        margin: 10px;
        max-width: 50%;
    }

    .chat-bubble:before {
        content: "\00a0";
        display: block;
        height: 16px;
        width: 9px;
        position: absolute;
        bottom: -7.5px;
    }

    .chat-bubble.left {
        background-color: #D6EAF8;
        float: left;
        margin-left:100px;
    }

    .chat-bubble.left:before {
        background-color: #D6EAF8;
        left: 10px;
        -webkit-transform: rotate(70deg) skew(5deg);
    }

    .chat-bubble.right {
        background-color: #D6EAF8;
        color: #000;
        float: right;
        margin-right: 200px;
    }

    .chat-bubble.right:before {
        background-color: #D6EAF8;
        right: 10px;
        -webkit-transform: rotate(118deg) skew(-5deg);
    }

    .chat-bubble.right a.autolinker {
        color: #000;
        font-weight: bold;
    }
    }
.profile-image{
        border-radius: 50%;
        // top: 10px;
        width: 50px;
        height:50px;
        margin-left: 120px;
    }

    footer {
        position: absolute;
        // margin-left:60px;
        width: 62%;
        right: 0;
        // height:60px;
        // right: 0;
        bottom: 0;
        padding: 5px;
        background-color: cornflowerblue;
        // text-align: center;
    }

      
      nav { 
        // flex: 1 0 300px;
        background-color: cornflowerblue;
        overflow: auto;
      }

      input {
          width: 500px;
      }
      
    //   section {
    //     flex: 1 1 auto;
    //     // padding: 10px;
    //     overflow: auto;
    //   }
    
    