body {
    padding: 0;
    margin: 0
  }
  
  .wrapper {
    display: flex;
    height: 100vh;
  }
  
  nav { 
    // flex: 1 0 300px;
    background-color: cornflowerblue;
    overflow: auto;
  }
  
//   section {
//     flex: 1 1 auto;
//     // padding: 10px;
//     overflow: auto;
//   }

  .router {
    background-color: cornflowerblue;
    overflow: auto;
  }

//   group-list {
//      flex: 1 1 auto;
//      overflow: auto;
//   }

  .columns {
    display: flex;
    height: 100vh;
  }

  .column {
    flex: 0 1 auto;
    overflow: auto;
  }
