<div class="columns is-gapless">
  <div class="column is-one-quarter">
    <nav class="navbar has-shadow">
      <div class="navbar-brand">
        <div class="navbar-item">
          <img src="assets/logo.png" alt="Application Name" width="28" height="28">
        </div>
      </div>
    </nav>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input is-small" type="text" placeholder="search">
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
    </div>
    <div *ngFor="let rc of rooms" (click)="onSelect(rc.id)">
      <a class="panel-block">
        {{rc?.roomname}}
      </a>
    </div>
  </div>
  <div class="column is-11">
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</div>