<div class="tile is-ancestor">
  <div class="tile is-vertical is-10">
    <div class="tile">
      <div class="tile is-child box">
        <div class="field">
          <label class="label">Choose Range</label>
          <div class="control">
            <select #range (change)="changeRange(range.value)">
              <option [ngValue]="hourly">hourly</option>
              <option [ngValue]="weekly">weekly</option>
              <option [ngValue]="monthly">monthly</option>
              <option [ngValue]="yearly">yearly</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="tile">
      <article class="tile is-child box">
        <label class="label">Line Chart</label>
        <chart [options]="optionsLine"></chart>
      </article>
      <article class="tile is-child box">
        <label class="label">Bar Chart</label>
        <chart [options]="optionsBar"></chart>
      </article>
    </div>
    <div class="tile">
      <article class="tile is-child box">
        <label class="label">Pie Chart</label>
        <chart [options]="optionsPie"></chart>
      </article>
      <article class="tile is-child box">
        <label class="label">Doughnut Chart</label>
        <chart [options]="optionsDoughnut"></chart>
      </article>
    </div>
  </div>
</div>