<div class="tile is-ancestor">
  <div class="tile is-vertical is-10">
    <div class="tile">
      <div class="tile is-parent is-vertical"></div>
      <div class="tile is-parent is-10">
        <div class="tile is-child box">
          <div class="field">
            <label class="label">Organization Structure</label>
          </div>
        </div>
      </div>
      <div class="tile is-parent is-vertical"></div>
    </div>
    <div class="tile">
      <div class="tile is-parent is-vertical"></div>
      <div class="tile is-parent is-10">
        <div class="tile is-child box">
          <ng-org-chart [topEmployee]="topEmployee"></ng-org-chart>
        </div>
      </div>
      <div class="tile is-parent is-vertical"></div>
    </div>
  </div>
</div>