/* You can add global styles to this file, and also import other style files */
html{
  overflow: auto;
}

.oc-border {
  border: 1px solid black;
}

.oc-background {
  background-color: cornflowerblue;
}

.oc-name {
  font-family: Times New Roman;
  white-space: nowrap;
}

.oc-designation {
  font-family: Trebuchet;
  font-style: italic;
  white-space: nowrap;
}