<div class="columns">
  <aside class="column aside hero is-fullheight is-hidden-mobile">
    <div>
      <div class="menu">
        <div class="title">Navigation</div>
          <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item">
            <span class="icon"><i class="fa fa-home"></i></span><span class="name">Dashboard</span>
          </a>
          <a [routerLink]="['/home/maps']" routerLinkActive="active" class="item">
            <span class="icon"><i class="fa fa-map-marker"></i></span><span class="name">Maps</span>
          </a>
          <a [routerLink]="['/home/chat']" routerLinkActive="active" class="item">
            <span class="icon"><i class="fa fa-users"></i></span><span class="name">Chat</span>
          </a>
          <a [routerLink]="['/home/chart']" routerLinkActive="active" class="item">
            <span class="icon"><i class="fa fa-line-chart"></i></span><span class="name">Chart</span>
          </a>
             <a [routerLink]="['/home/fileupload']" routerLinkActive="active" class="item">
            <span class="icon"><i class="fa fa-line-chart"></i></span><span class="name">simple upload</span>
          </a>
          <a [routerLink]="['/home/fileuploadadvence']" routerLinkActive="active" class="item">
            <span class="icon"><i class="fa fa-line-chart"></i></span><span class="name">advanced upload</span>
          </a>
          <a (click)="signOut()" routerLinkActive="active" class="item">
            <span class="icon"><i class="fa fa-sign-out"></i></span><span class="name">Sign Out</span>
          </a>

       
           

      </div>
    </div>
  </aside>
  <div class="column is-10 mainside">
    <nav class="navbar has-shadow">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="assets/logo.png" alt="Application Name" width="28" height="28">
        </a>
        <div class="navbar-burger" [ngClass]="{ 'is-active': showMiniMenu }" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="nav-right nav-menu is-hidden-tablet" [ngClass]="{ 'is-active': showMiniMenu }" (click)="toggleMenu()">
          <li [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item">
            <span class="icon"><i class="fa fa-home"></i></span><span class="name">Dashboard</span>
          </li>
          <li [routerLink]="['/home/maps']" routerLinkActive="active" class="item">
            <span class="icon"><i class="fa fa-map-marker"></i></span><span class="name">Maps</span>
          </li>
          <li [routerLink]="['/home/chat']" routerLinkActive="active" class="item">
            <span class="icon"><i class="fa fa-users"></i></span><span class="name">Chat</span>
          </li>
          <li [routerLink]="['/home/chart']" routerLinkActive="active" class="item">
            <span class="icon"><i class="fa fa-line-chart"></i></span><span class="name">Chart</span>
          </li>
          <li [routerLink]="['/login']" routerLinkActive="active" class="item" (click)="signOut()">
            <span class="icon"><i class="fa fa-sign-out"></i></span><span class="name">Sign Out</span>
          </li>
        </div>
      </div>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>