<div class="columns">
  <aside class="column aside hero is-fullheight is-hidden-mobile">
    <div>
      <div class="menu">
        <div class="title">Navigation</div>
        <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item">
          <span class="icon"><i class="fa fa-home"></i></span><span class="name">Dashboard</span>
        </a>
        <a [routerLink]="['/home/maps']" routerLinkActive="active" class="item">
          <span class="icon"><i class="fa fa-map-marker"></i></span><span class="name">Maps</span>
        </a>
        <a [routerLink]="['/home/chat']" routerLinkActive="active" class="item">
          <span class="icon"><i class="fa fa-users"></i></span><span class="name">Chat</span>
        </a>
        <a routerLinkActive="active" class="item chart-list" (click)="display()">
          <span class="icon"><i class="fa fa-line-chart"></i></span><span class="name">Chart</span>
        </a>
        <ul class="menu-list" [ngStyle]="{'display': displayChart}">
          <li>
            <a [routerLink]="['/home/chart/ng2chart']" routerLinkActive="active" class="child-list">
              <span class="name"> Ng2Chart</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/home/chart/google-chart']" routerLinkActive="active" class="child-list">
              <span class="name"> Google Chart</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/home/chart/highcharts']" routerLinkActive="active" class="child-list">
              <span class="name"> Highcharts</span>
            </a>
          </li>
        </ul>
        <a [routerLink]="['/home/fileuploadmaster']" routerLinkActive="active" class="item" >
          <span class="icon"><i class="fa fa-line-chart"></i></span><span class="name">Upload File</span>
        </a>
        
        <a [routerLink]="['/home/crud']" routerLinkActive="active" class="item">
          <span class="icon"><i class="fa fa-pencil-square-o"></i></span><span class="name">Crud Master</span>
        </a>
        <a (click)="signOut()" routerLinkActive="active" class="item">
          <span class="icon"><i class="fa fa-sign-out"></i></span><span class="name">Sign Out</span>
        </a>




      </div>
    </div>
  </aside>
  <div class="column is-10 mainside">
    <nav class="navbar has-shadow">
      <div class="navbar-brand">
        <a class="navbar-item">
          <img src="assets/images/logo.png" alt="Application Name" width="28" height="28">
        </a>
        <div class="navbar-burger" [ngClass]="{ 'is-active': showMiniMenu }" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="nav-right nav-menu is-hidden-tablet" [ngClass]="{ 'is-active': showMiniMenu }">
          <li>
            <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="item" (click)="toggleMenu()">
              <span class="icon"><i class="fa fa-home"></i></span><span class="name">Dashboard</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/home/maps']" routerLinkActive="active" class="item" (click)="toggleMenu()">
              <span class="icon"><i class="fa fa-map-marker"></i></span><span class="name">Maps</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/home/chat']" routerLinkActive="active" class="item" (click)="toggleMenu()">
              <span class="icon"><i class="fa fa-users"></i></span><span class="name">Chat</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" class="item" (click)="display()">
              <span class="icon"><i class="fa fa-line-chart"></i></span><span class="name">Chart</span>
            </a>
          </li>
          <ul class="menu-list" [ngStyle]="{'display': displayChart}">
            <li>
              <a [routerLink]="['/home/chart/ng2chart']" routerLinkActive="active" class="child-list-mini" (click)="toggleMenu()">
                <span class="name"> Ng2Chart</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/home/chart/google-chart']" routerLinkActive="active" class="child-list-mini" (click)="toggleMenu()">
                <span class="name"> Google Chart</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/home/chart/highcharts']" routerLinkActive="active" class="child-list-mini" (click)="toggleMenu()">
                <span class="name"> Highcharts</span>
              </a>
            </li>
          </ul>
          <li>
            <a [routerLink]="['/home/crud']" routerLinkActive="active" class="item" (click)="toggleMenu()">
              <span class="icon"><i class="fa fa-pencil-square-o"></i></span><span class="name">Crud Master</span>
            </a>
          </li>
          <a [routerLink]="['/home/crud']" routerLinkActive="active" class="item">
            <span class="icon"><i class="fa fa-pencil-square-o"></i></span><span class="name">Crud Master</span>
          </a>
          <li [routerLink]="['/login']" routerLinkActive="active" class="item" (click)="signOut()">
            <span class="icon"><i class="fa fa-sign-out"></i></span><span class="name">Sign Out</span>
          </li>
        </div>
      </div>
    </nav>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>